Obtaining a Gold Standard Exercise

In this exercise, you'll be given labels for 60 mammograms that contain a suspicious mass. Anytime this occurs in a clinical setting, the patient is sent for a mass biopsy to determine if the mass is benign or cancerous. The radiologist can still make a judgment about whether to mass appears malignant or not based on how it appears in the image.

Sometimes in algorithmic development settings, we are only able to obtain radiologist reports and we are not able to obtain biopsy reports for all studies. Since the true gold standard label is the biopsy result, it helps to get several opinions from different radiologists on the image appearance to make a more robust ground truth assessment in the absence of biopsy data.

Here, you are provided with labels from three different radiologists who have the following levels of clinical experience:

-    Rad1 = 5 years
-    Rad2 = 10 years
-    Rad3 = 15 years

In this exercise, create three 'ground truths', you can label benign as 1 and malignant as 0:

1.    Using biopsy labels (true gold standard)
2.    Using a voting system between the three radiologists
3.    Using a weighted voting system with experience levels between the three radiologists

Assess how 2 & 3 compare to 1: if the ground truths from 2 & 3 agree with 1.

In [1]:
import numpy as np
import pandas as pd

Read in your label data:

In [2]:
labels = pd.read_csv('labels.csv')
labels.head(10)

     rad1    rad2    rad3  biopsy
0  benign  benign  benign  benign
1  benign  benign  benign  benign
2  benign  benign  benign  benign
3  benign  benign  benign  benign
4  benign  benign  cancer  benign
5  cancer  cancer  cancer  cancer
6  benign  benign  benign  benign
7  benign  benign  benign  benign
8  cancer  cancer  benign  cancer
9  benign  benign  cancer  benign

## Create your first ground truth as derived from biopsy labels:

In [4]:
labels2 = labels.replace('benign', 1).replace('cancer', 0)
labels2.head(10)

   rad1  rad2  rad3  biopsy
0     1     1     1       1
1     1     1     1       1
2     1     1     1       1
3     1     1     1       1
4     1     1     0       1
5     0     0     0       0
6     1     1     1       1
7     1     1     1       1
8     0     0     1       0
9     1     1     0       1

In [6]:
gt1 = labels['biopsy']
gt1.head(10)

0    benign
1    benign
2    benign
3    benign
4    benign
5    cancer
6    benign
7    benign
8    cancer
9    benign
Name: biopsy, dtype: object

## Create your second truth by voting system from the three radiologists:

In [7]:
gt2 = labels2[['rad1', 'rad2', 'rad3']].sum(axis=1)
gt2 = (gt2 > 1).replace(True,1).replace(False,0)
gt2.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

## Create your third ground truth by weighting the three radiologists:

In [9]:
weighted_labels = labels2.copy()
weighted_labels['rad2'] = weighted_labels['rad2'] * 0.67
weighted_labels['rad1'] = weighted_labels['rad1'] * 0.33
weighted_labels.head()

   rad1  rad2  rad3  biopsy
0  0.33  0.67     1       1
1  0.33  0.67     1       1
2  0.33  0.67     1       1
3  0.33  0.67     1       1
4  0.33  0.67     0       1

In [12]:
gt3 = weighted_labels[['rad1', 'rad2', 'rad3']].sum

## Compare the three ground truths:

Here, just explore the three sets of labels you created and see how often they agree

In [13]:
biopsy_to_votes = gt1 == gt2
biopsy_to_votes[biopsy_to_votes==False]

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
dtype: bool

In [14]:
biopsy_to_weights = gt1 == gt3
biopsy_to_weights[biopsy_to_weights==False]

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
Name: biopsy, dtype: bool

Interestingly, in the example above the weighting example performs worse against biopsy labels than simple voting. This may be an artefact of the weightings that we chose, and is not always sub-optimal to simple voting.